  
  .experiment h1 {
    font-size: 40px;
    font-weight: bold;
    padding-top: 30px;
    color: #060662;
    padding-left: 20px;
    margin-left: 100px; 
  }
  
  .experiment p {
    font-size: 25px;
    margin: 50px;
    padding-left: 100px;
  }

 
  